* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 375px;
  height: 667px;
  background-color: rgb(85, 83, 83);
  margin: 0 auto;
}

.nav {
  display: flex;
  padding-top: 16px;
  width: 350px;

  margin: 0 auto;
  align-items: center;
}

.left {
  margin-left: auto;
}

.main {
  margin-top: 260px;
  text-align: center;

}
/*#################################################*/
#menu__toggle {
  opacity: 0;
}
.menu__btn {
  display: flex;
  align-items: center; 
  position: relative;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
  margin-top: -100%;
  margin-right: auto;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #000000;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
 content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -375px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #525252;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
.menu__item {
  width: 342px;
  display: block;
  height: 52px;
  text-align: center;
  border-radius: 13px;
  color: #ffffff;
  background-color: rgba(24, 24, 24, 0.7);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:focus {
  border-bottom: #CFD8DC;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.menu__box {
  transition-duration: .25s;
}
.menu__item {
  transition-duration: .25s;
}
/*#################################################*/
.drakula {
  text-shadow: 1px 1px 2px black, 0 0 1em red;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 50px;


  letter-spacing: 0.38px;

  color: #242222;
}

.opis {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 10px;

  /* or 570% */


  letter-spacing: 0.38px;

  color: #000000;
}
#brgopis
{
  position: absolute;
  font-weight: bold;
  margin: 89.055% 0 0 50.66%;
}

.novost {
  padding-top: 19px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0.38px;

  color: #242222;
  text-shadow: 1px 1px 2px black, 0 0 1em red;
}

.wrapper2 {
  width: 375px;
  height: 667px;
  background-color: rgb(94, 94, 94);
  margin: 0 auto;
}

.kvadrat {
  width: 77px;
  height: 85px;
  left: 28px;
  top: 85px;

  background: #D9D9D9;
  border-radius: 11px;
}

.container {
  margin-left: 28px;
  margin-top: 16px;
}

.flex2 p {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 10px;

  /* or 570% */


  letter-spacing: 0.38px;

  color: #000000;

}

.flex2 {
  display: flex;
  align-items: center;
  padding-top: 19px;

}

.text {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.flex .flex2 {
  padding-top: 19px;
}

.but {

  width: 71px;
  height: 19px;


  background: rgba(24, 24, 24, 0.7);
  backdrop-filter: blur(40px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 13px;

  margin: 0 auto;
  margin-top: 35px;
}

.but p {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 13px;

  /* or 185% */


  align-items: center;
  text-align: center;
  letter-spacing: 0.38px;

  color: #FFFFFF;

}

.wrapper3 {
  width: 375px;
  height: 667px;
  background-color: rgb(94, 94, 94);
  margin: 0 auto;

}

.rest {
  padding-top: 11px;
  text-align: center;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */


  letter-spacing: 0.38px;

  color: #242222;
  text-shadow: 1px 1px 2px black, 0 0 1em red;
}

.flexik {
  display: flex;
  margin: 0 auto;
  width: 350px;
}

.cont {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.kvadrat2 {
  width: 150px;
  height: 87px;
  text-align: center;
  background: #D9D9D9;
  border-radius: 15px;
}

.cont p {
  text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");

body,
html {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;

  font-family: "Raleway";
  margin: 0;
  padding: 0;
}

.restaurant {
  background-color: #525252;
  display: flex;
  width: 375px;
  height: 667px;
  max-height: 667px;
  align-items: center;
  flex-direction: column;
}

.title {
  margin-top: 11px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.38px;

  color: #242222;
  text-shadow: 1px 1px 2px black, 0 0 1em red;
}

.menu_title {
  margin-top: 45px;
}

.special_title {
  margin-top: 45px;
}

.cards {
  width: 100%;
  display: flex;
  margin-top: 5px;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.right_card {
  margin-left: 27px;
}

.card_title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 57px;
  /* or 356% */

  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: 0.38px;

  color: #242222;
}

.card_image {
  background: #d9d9d9;
  border-radius: 15px;
  width: 150px;
  height: 87px;
  /* background-color: rgb(85, 83, 83); */
  margin: 0 auto;
}

.card_text {
  width: 120px;
  display: flex;
  justify-content: center;
  text-align: center;

  font-style: normal;
  font-weight: 300;
  font-size: 9px;
  margin-top: 10px;

  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: 0.38px;

  color: #000000;
}

.special_blocks {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 23px;
}

.special_block {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 40px;
}

.special_block:nth-child(1) {
  margin-left: 0;
}

.special_circle {
  width: 73px;
  height: 71px;

  background: #d9d9d9;
  border-radius: 50%;
}

.special_text {
  text-align: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  margin-top: 2px;

  text-align: center;
  letter-spacing: 0.38px;

  color: #242222;
}

.footer {
  width: 100%;
  background: #d9d9d9;
  border: 1px solid #000000;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer_icon:nth-child(2) {
  margin-left: 3px;
}

.square {
  width: 59px;
  height: 6px;

  margin-left: 13px;
  margin-right: 14px;

  background: #000000;
}